.bokning {
  margin-bottom: 20px;
  margin-right: 10px;
  border: solid 1px white;
  border-radius: 5%;
  list-style: none;
}

.allaBokningar {
  display: flex;
  margin-left: 30%;
  text-align: center;
  color: black;
}
